charset-normalizer==2.1.0
requests
six==1.16.0
xmltodict==0.13.0
DingtalkChatbot
Jinja2
numpy
datetime
efinance
retrying
notion-client
tenacity
httpx
pygal
pyecharts
cairosvg
lxml
tinycss
cairo-2
libcairo-2
cairo


